@use "main.scss";
@use "header.scss";
@use "articles.scss";

// IMPORTS
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

html,
body {
  font-family: "Libre Baskerville";
  font-size: 16px;
  margin: 0px;
  box-sizing: border-box;
  min-width: 1024px;
}

* {
  box-sizing: border-box;
}

body {
  padding: 25px;
  padding-top: 31px;
}
